.maps {
    height: 600px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.event-page-container {
    padding-top: 4.2rem;
    padding-bottom: 6.1rem;
}
.map-container {
    padding: 0px;
}