.general-info {
    text-align: center;
    margin-top: 60px;
}

.age-genre-cont {
    display: flex;
    justify-content: center;
}

.profile-data {
    margin: 10px 10px;
}

.event-section h3 {
    margin: 75px 45px 15px;
}

.main-button-container {
    margin: 70px 0;
}